:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

vwc-header {
  display: flex;
  justify-content: space-between;
}

vwc-data-grid-cell {
  overflow: hidden;
  white-space: nowrap;
}