:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

vwc-header div>* {
  margin: 0 0.5rem;
}

vwc-data-grid {
  margin: 1rem 0;
}

vwc-data-grid-cell {
  overflow: hidden;
  white-space: nowrap;
}

/* CFP list page */

.cfp-card img{
   width: 100%; 
   height: 150px; 
   object-fit: cover;
}

.cfp-card vwc-data-grid-row, vwc-accordion {
  width: 100%;
}

span.cfp-property {
  font-weight: bold;
  margin-right: 5px;
  width: 40%;
}

/* End of CFP list page */

/* Edit CFP page */

.edit-cfp {
  width: 100%;
  text-align: center;
}

.edit-cfp vwc-text-field {
  text-align: left;
}

/* End of Edit CFP page */