:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

vwc-header div>* {
  margin: 0 0.5rem;
}

vwc-data-grid {
  margin: 1rem 0;
}

vwc-data-grid-cell {
  overflow: hidden;
  white-space: nowrap;
}